<!-- <button (click)="dialogIsOpened = true">Create Spell</button> -->
<dnd-dialog [dialogTitle]="'Create Spell'" *ngIf="dialogIsOpened">
  <div content style="background-color: black;">
    <form #newSpell="ngForm" (ngSubmit)="submit(newSpell)">
      <div>
        <label for="name">Name:</label>
        <input ngModel type="text" name="name" id="name" placeholder="Name">
      </div>
      <div>
        <label for="level">Level:</label>
        <input ngModel type="number" name="level" id="level" min="0" max="9" placeholder="0">
      </div>
      <div>
        <label for="type">Type:</label>
        <input ngModel type="text" name="type" id="type" placeholder="abjuration, divination, ...">
      </div>
      <div>
        <label for="casting-time">Casting time:</label>
        <input ngModel type="text" name="castingTime" id="casting-time" placeholder="1 action, 1 minute, ...">
      </div>
      <div>
        <label for="range">Range:</label>
        <input ngModel type="text" name="range" id="range" placeholder="30 feet, 60 feet, Self, ...">
      </div>
      <div>
        <label for="components">Components:</label>
        <input ngModel type="text" name="components" id="components" placeholder="V, S, M ()">
      </div>
      <div>
        <label for="duration">Duration:</label>
        <input ngModel type="text" name="duration" id="duration" placeholder="1 minute, Concentration, up to 1 minute, ...">
      </div>
      <div>
        <label for="discription">Discription:</label>
        <textarea ngModel name="discription" id="discription" cols="100" rows="13"></textarea>
      </div>
      <button>Save</button>
    </form>
    <div actions>
      <button (click)="dialogIsOpened = false">Close</button>
    </div>
  </div>
</dnd-dialog>
<dnd-spell *ngFor="let spell of spells" [spell]="spell"></dnd-spell> 
