@font-face{
  font-family: Draconic;
  src: url('./assets/fonts/Draconic/Iokharic.otf') format("truetype");
}
@font-face{
  font-family: Dwarvish;
  src: url('./assets/fonts/Dwarvish/Davek.otf') format("truetype");
}
@font-face{
  font-family: Elvish;
  src: url('./assets/fonts/Elvish/Rellanic.otf') format("truetype");
}
@font-face{
  font-family: Infernal;
  src: url('./assets/fonts/Infernal/Barazhad.otf') format("truetype");
}
