$dnd-main-color: #4D4D4D;
$dnd-main-color-dark: darken($dnd-main-color, 10%);
$dnd-main-color-light: lighten($dnd-main-color, 10%);
$dnd-main-color-lighter: lighten($dnd-main-color-light, 10%);
$dnd-secondary-color: #CCCCCC;
$dnd-secondary-color-dark: darken($dnd-secondary-color, 10%);
$dnd-secondary-color-light: lighten($dnd-secondary-color, 10%);
$dnd-secondary-color-lighter: lighten($dnd-secondary-color-light, 10%);
$dnd-tertiary-color: #B3B3B3;
$dnd-tertiary-color-dark: darken($dnd-tertiary-color, 10%);
$dnd-tertiary-color-light: lighten($dnd-tertiary-color, 10%);
$dnd-tertiary-color-lighter: lighten($dnd-tertiary-color-light, 10%);
$dnd-quaterary-color: #CCCCCC;
$dnd-quaterary-color-dark: darken($dnd-quaterary-color, 10%);
$dnd-quaterary-color-light: lighten($dnd-quaterary-color, 10%);
$dnd-quaterary-color-lighter: lighten($dnd-quaterary-color-light, 10%);