<div>
  <p>{{name}}</p>
  <p class="discription">Character Name</p>
</div>
<div>
  <div class="characterMetaData">
    <div class="field">
      <p>{{dndClass}} {{level}}</p>
      <p class="discription">Class & Level</p>
    </div>
    <div class="field">
      <p>{{background}}</p>
      <p class="discription">Background</p>
    </div>
    <div class="field">
      <p>{{playerName}}</p>
      <p class="discription">Player Name</p>
    </div>
  </div>
  <div class="characterMetaData">
    <div class="field">
      <p>{{race}}</p>
      <p class="discription">Race</p>
    </div>
    <div class="field">
      <p>{{alignment}}</p>
      <p class="discription">Alignment</p>
    </div>
    <div class="field">
      <p>{{experience}}</p>
      <p class="discription">Experience Points</p>
    </div>
  </div>
</div>
