<h3>Skills</h3>
<dnd-skill skill="Acrobatics" [abilityScore]="abilityScores.dexterity" [proficencyBonus]="skillProficiencies.acrobatics ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Animal Handling" [abilityScore]="abilityScores.wisdom" [proficencyBonus]="skillProficiencies.animalHandling ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Arcana" [abilityScore]="abilityScores.intelligence" [proficencyBonus]="skillProficiencies.arcana ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Athletics" [abilityScore]="abilityScores.strength" [proficencyBonus]="skillProficiencies.athletics ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Deception" [abilityScore]="abilityScores.charisma" [proficencyBonus]="skillProficiencies.deception ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="History" [abilityScore]="abilityScores.intelligence" [proficencyBonus]="skillProficiencies.history ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Insight" [abilityScore]="abilityScores.wisdom" [proficencyBonus]="skillProficiencies.insight ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Intimidation" [abilityScore]="abilityScores.charisma" [proficencyBonus]="skillProficiencies.intimidation ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Investigation" [abilityScore]="abilityScores.intelligence" [proficencyBonus]="skillProficiencies.investigation ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Medicine" [abilityScore]="abilityScores.wisdom" [proficencyBonus]="skillProficiencies.medicine ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Nature" [abilityScore]="abilityScores.intelligence" [proficencyBonus]="skillProficiencies.nature ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Perception" [abilityScore]="abilityScores.wisdom" [proficencyBonus]="skillProficiencies.perception ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Performance" [abilityScore]="abilityScores.charisma" [proficencyBonus]="skillProficiencies.performance ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Persuasion" [abilityScore]="abilityScores.charisma" [proficencyBonus]="skillProficiencies.persuasion ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Religion" [abilityScore]="abilityScores.intelligence" [proficencyBonus]="skillProficiencies.religion ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Sleight of Hand" [abilityScore]="abilityScores.dexterity" [proficencyBonus]="skillProficiencies.sleightOfHand ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Stealth" [abilityScore]="abilityScores.dexterity" [proficencyBonus]="skillProficiencies.stealth ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Survival" [abilityScore]="abilityScores.wisdom" [proficencyBonus]="skillProficiencies.survival ? proficiencyBonus : 0"></dnd-skill>
