:host{
  &.draconic {
    p{
      font-family: Draconic;
    }
  }
  &.dwarvish {
    p{
      font-family: Dwarvish;
    }
  }
  &.elvish{
    p{
      font-family: Elvish;
    }
  }
  &.infernal{
    p{
      font-family: Infernal;
    }
  }
}