<h3>Saving Throws</h3>
<dnd-skill skill="Strength" [abilityScore]="abilityScores.strength" [proficencyBonus]="savingThorws.strength ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Dexterity" [abilityScore]="abilityScores.dexterity" [proficencyBonus]="savingThorws.dexterity ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Constitution" [abilityScore]="abilityScores.constitution" [proficencyBonus]="savingThorws.constitution ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Intelligence" [abilityScore]="abilityScores.intelligence" [proficencyBonus]="savingThorws.intelligence ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Wisdom" [abilityScore]="abilityScores.wisdom" [proficencyBonus]="savingThorws.wisdom ? proficiencyBonus : 0"></dnd-skill>
<dnd-skill skill="Charisma" [abilityScore]="abilityScores.charisma" [proficencyBonus]="savingThorws.charisma ? proficiencyBonus : 0"></dnd-skill>
